section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.studio,
.connect {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f0f0f0;
}

.studio {
  background-color: #121212;
  /* هام جداً: هذه الإزاحة تعطي المساحة الكافية للتمرير أثناء تثبيت الهيرو */
  margin-top: 200vh;
}

.connect {
  background-color: #181818;
}
